src/conf/xml-resources/web-service-references/Aqua_web_1/wsdl/localhost_8080/Aquamachine_extension/Aqua_web.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aqua/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://aqua/" name="Aqua_web">
<types>
<xsd:schema>
<xsd:import namespace="http://aqua/" schemaLocation="http://localhost:8080/Aquamachine_extension/Aqua_web?xsd=1"/>
</xsd:schema>
</types>
<message name="updateOffer">
<part name="parameters" element="tns:updateOffer"/>
</message>
<message name="updateOfferResponse">
<part name="parameters" element="tns:updateOfferResponse"/>
</message>
<message name="deleteOffer">
<part name="parameters" element="tns:deleteOffer"/>
</message>
<message name="deleteOfferResponse">
<part name="parameters" element="tns:deleteOfferResponse"/>
</message>
<message name="insertOffer">
<part name="parameters" element="tns:insertOffer"/>
</message>
<message name="insertOfferResponse">
<part name="parameters" element="tns:insertOfferResponse"/>
</message>
<message name="searchOffer">
<part name="parameters" element="tns:searchOffer"/>
</message>
<message name="searchOfferResponse">
<part name="parameters" element="tns:searchOfferResponse"/>
</message>
<portType name="Aqua_web">
<operation name="updateOffer">
<input wsam:Action="http://aqua/Aqua_web/updateOfferRequest" message="tns:updateOffer"/>
<output wsam:Action="http://aqua/Aqua_web/updateOfferResponse" message="tns:updateOfferResponse"/>
</operation>
<operation name="deleteOffer">
<input wsam:Action="http://aqua/Aqua_web/deleteOfferRequest" message="tns:deleteOffer"/>
<output wsam:Action="http://aqua/Aqua_web/deleteOfferResponse" message="tns:deleteOfferResponse"/>
</operation>
<operation name="insertOffer">
<input wsam:Action="http://aqua/Aqua_web/insertOfferRequest" message="tns:insertOffer"/>
<output wsam:Action="http://aqua/Aqua_web/insertOfferResponse" message="tns:insertOfferResponse"/>
</operation>
<operation name="searchOffer">
<input wsam:Action="http://aqua/Aqua_web/searchOfferRequest" message="tns:searchOffer"/>
<output wsam:Action="http://aqua/Aqua_web/searchOfferResponse" message="tns:searchOfferResponse"/>
</operation>
</portType>
<binding name="Aqua_webPortBinding" type="tns:Aqua_web">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateOffer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteOffer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertOffer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchOffer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Aqua_web">
<port name="Aqua_webPort" binding="tns:Aqua_webPortBinding">
<soap:address location="http://localhost:8080/Aquamachine_extension/Aqua_web"/>
</port>
</service>
</definitions>