web/WEB-INF/wsdl/localhost_8080/Aquamachine/Aqua_web.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aqua/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://aqua/" name="Aqua_web">
<types>
<xsd:schema>
<xsd:import namespace="http://aqua/" schemaLocation="http://localhost:8080/Aquamachine/Aqua_web?xsd=1"/>
</xsd:schema>
</types>
<message name="insertProduct">
<part name="parameters" element="tns:insertProduct"/>
</message>
<message name="insertProductResponse">
<part name="parameters" element="tns:insertProductResponse"/>
</message>
<message name="searchProduct">
<part name="parameters" element="tns:searchProduct"/>
</message>
<message name="searchProductResponse">
<part name="parameters" element="tns:searchProductResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse"/>
</message>
<portType name="Aqua_web">
<operation name="insertProduct">
<input wsam:Action="http://aqua/Aqua_web/insertProductRequest" message="tns:insertProduct"/>
<output wsam:Action="http://aqua/Aqua_web/insertProductResponse" message="tns:insertProductResponse"/>
</operation>
<operation name="searchProduct">
<input wsam:Action="http://aqua/Aqua_web/searchProductRequest" message="tns:searchProduct"/>
<output wsam:Action="http://aqua/Aqua_web/searchProductResponse" message="tns:searchProductResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://aqua/Aqua_web/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://aqua/Aqua_web/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="updateProduct">
<input wsam:Action="http://aqua/Aqua_web/updateProductRequest" message="tns:updateProduct"/>
<output wsam:Action="http://aqua/Aqua_web/updateProductResponse" message="tns:updateProductResponse"/>
</operation>
</portType>
<binding name="Aqua_webPortBinding" type="tns:Aqua_web">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Aqua_web">
<port name="Aqua_webPort" binding="tns:Aqua_webPortBinding">
<soap:address location="http://localhost:8080/Aquamachine/Aqua_web"/>
</port>
</service>
</definitions>